<html>
  <head>
    <title>{{ startpage.name }}</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="public/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="public/favicon/site.webmanifest" />

    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="page">
      {% for column in startpage.columns %}
      <div class="column">
        {% for category in column.categories %}
        <div class="category">
          <h1 id={{ category.headerId }}></h1>
          <h2>{{ category.name }}</h2>
          <div class="rows">
            {% for row in category.rows %} {% if row == "Separator" %}
            <div class="separator"></div>
            {% else %}
            <div class="ico">{{ row.Link.ico | safe }}</div>
            <div class="lbl">
              <a href="{{ row.Link.url | safe }}">{{ row.Link.lbl }}</a>
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="navigation">
      {% for startpage_name, startpage_filepath in navigation %}
      <a href="{{ startpage_filepath | safe }}">{{ startpage_name }}</a>
      {% endfor %}
    </div>
    <script>
// Set the date we're counting down to
var countDownDate = new Date("Apr 4, 2024 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Done!";
  }
}, 1000);
</script>
  </body>
</html>
